<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Выключаем мусорные трейсы Ktor -->
    <logger name="io.ktor" level="INFO" />
    <logger name="io.ktor.server.plugins.cors" level="WARN" />
    <logger name="io.ktor.server.plugins.contentnegotiation" level="WARN" />
    <logger name="io.ktor.client.plugins.HttpCallValidator" level="ERROR" /> <!-- Чтобы Client не спамил Connection refused -->

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>